.row
  %h3
    Search into Confluence, JIRA and Github
= form_tag advanced_searches_search_path, :method=>:post do
  .row
    .row.collapse
      .small-8.columns
        = search_field_tag :q
      .small-4.columns
        %button.submit.btn
          %i.fi-magnifying-glass
  .row
    = check_box_tag 'confluence'
    Confluence Wiki
  .row
    = check_box_tag 'jira'
    Jira
  .row
    = check_box_tag 'github'
    Github
    
      

